{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Lost.Kg</title>
	<!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}'%}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css'%}" rel="stylesheet">
    <link href="{% static 'css/owl.transitions.css'%}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="{% static 'css/responsive.css'%}" rel="stylesheet">



   
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">


</head><!--/head-->
<body id="home" class="homepage">


    <header id="top-header" class="navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="{% url 'main:main' %}" >
                            <h4 style="color:white; font-size:24px;"><span style="color:red"></span>Lost.Kg</h4>
                        </a>
                    </div>
                    <!-- /logo -->
                </div>

                <!-- main nav -->
                 <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu-fake">
                        <ul id="nav" class="nav navbar-nav">
                            <li class="scroll"><a href="#portfolio" data-section="#portfolio">Как это работает</a></li>
                            <li class="scroll"><a href="#contact-area" data-section="#contact-area">Обратная связь</a></li>   
                            {% if user.is_authenticated %}
                            <li class="scroll"><a href="{% url 'main:profile'%}">{{user.username}}</a></li>
                            <li><a href="{% url 'main:signout' %}">Выйти</a> </li>
                            {% else %}
                            <li><a href="{% url 'main:signin' %}">Войти</a></li>
                            <li class="scroll"><a href="{% url 'main:signup' %}">Зарегистрироваться</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>
    <section id="contact-area">
        <div class="container">
            <div class="row">
                <div class="section-header">

                    <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible;">
                        {% if operation == 'lost' %}
                            Сообщить о пропаже
                        {% else %}
                            Сообщить о находке
                        {% endif %}
                    </h2>
                    <p>Пожалуйста заполните все поля .</p>
                </div>
                <form name="contact-form" method="post" action="">
                {% csrf_token %}
                    <div class="col-lg-6 col-lg-offset-3 animated animate-from-left" style="opacity: 1; left: 0px;">
                        <div class="form-group">
                            <label for="category">Категория</label>
                            <select id="category" name="category" class="form-control">
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if operation == 'lost' %}
                        <div class="form-group">
                            <label for="title">Тема</label>
                            <input id="title" type="text" name="title" class="form-control" placeholder="например: Потерялa паспорт на имя Бактыгул Байтикова" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Дополнительная информация</label>
                            <textarea id="description" name="description" class="form-control" placeholder="например: Потеряла в районе Бета Сторес , паспорт был в красном чехле"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="subject">Вознаграждение</label>
                            <input type="text" id="award" name="award" class="form-control" placeholder="например: 1000 сом">
                        </div>
                        <div class="form-group">
                            <label for="subject">Контактная информация</label>
                            <input type="text" id="contacts" name="contacts" class="form-control" placeholder="например:звонить по номеру 0555123456" required>
                        </div>
                        <input type="hidden" name='operation' value="lost">
                        {% else %}
                        <div class="form-group">
                            <label for="title">Тема</label>
                            <input id="title" type="text" name="title" class="form-control" placeholder="например: Нашел паспорт на имя Бактыгул Байтикова" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Дополнительная информация</label>
                            <textarea id="description" name="description" class="form-control" placeholder="например: Нашел в районе Бета Сторес , паспорт был в красном чехле"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="contacts">Контактная информация</label>
                            <input type="text" id="contacts" name="contacts" class="form-control" placeholder="например:звонить по номеру 0555123456" required>
                        </div>
                        <input type="hidden" name='operation' value="found">

                        {% endif %}
                        <div class="clearfix"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-send-msg form-control">Сообщить</button>
                    </div>
                    </div>
                    

                </form>

            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        &copy; 2016 Lost.kg </a>
                    </p>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/mousescroll.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        function autoFill(){
            document.getElementById('card_id').value = document.getElementById('id-code-input1').value;
        };
    </script>
</body>
</html>